<h1><%= @photo_caption %></h1>

			<div class="story-photo"><img class="display" src="<%= @photo_url %>" width=100% height=auto /></div>


<div class="display-photo-copyright"><%= @photo_copyright %></div>

	<div class="clear"></div>
