<h1>Editing current race</h1>

<%= render "form", current_race: @current_race %>

<br>

<div>
  <%= link_to "Show this current race", @current_race %> |
  <%= link_to "Back to current races", current_races_path %>
</div>
