<a href="/races/overview" class="button button-red">Overview</a>
<a href="/races/index" class="button button-black">Races</a>
<a href="/races/standings" class="button button-red">Standings</a>


<h1>Races</h1>			





<table id="wsw-f12007racestable">
<tr>
<td class="f1-title" colspan="9">2022 FIA FORMULA ONE WORLD CHAMPIONSHIP CALENDAR</td>
</tr>

<tr class="f1-header">
<td>RD</td>
<td>EVENT</td>
<td class="f1header-date">DATE</td>
<td>CIRCUIT</td>
<td>LENGTH</td>
<td>LAPS</td>
<td>DISTANCE</td>
<td>WINNER</td>
<td>REPORT</td>
</tr>


<tr>
<td class="f1-round">1.</td>
<td class="f1-event">BAHRAIN GP</td>
<td class="f1-date">18-20 MARCH 2022</td>
<td class="f1-circuit">Bahrain International Circuit</td>
<td class="f1-length">5.412 km</td>
<td class="f1-laps">57</td>
<td class="f1-distance">308.484 km</td>
<td class="f1-winner">Leclerc</td>
<td class="f1-report"><a href="https://www.grandprix.com/races/bahrain-gp-2022-race-notes.html">Report</a></td>
</tr>

<tr>
<td class="f1-round">2.</td>
<td class="f1-event">SAUDI&nbsp;ARABIAN&nbsp;GP</td>
<td class="f1-date">25-27 MARCH 2022</td>
<td class="f1-circuit">Jeddah Street Circuit</td>
<td class="f1-length">6.175 km</td>
<td class="f1-laps">50</td>
<td class="f1-distance">308.750 km</td>
<td class="f1-winner">Verstappen</td>
<td class="f1-report"><a href="https://www.grandprix.com/races/saudi-arabian-gp-2022-race-notes.html">Report</a></td>
</tr>

<tr>
<td class="f1-round">3.</td>
<td class="f1-event">AUSTRALIAN GP</td>
<td class="f1-date">8-10 APRIL 2022</td>
<td class="f1-circuit">Melbourne</td>
<td class="f1-length">5.303 km</td>
<td class="f1-laps">58</td>
<td class="f1-distance">307.574 km</td>
<td class="f1-winner">Leclerc</td>
<td class="f1-report"><a href="https://www.grandprix.com/races/australian-gp-2022-race-notes.html">Report</a></td>
</tr>

<tr>
<td class="f1-round">4.</td>
<td class="f1-event">EMILIO&nbsp;ROMAGNA&nbsp;GP&nbsp;</td>
<td class="f1-date">22-24 APRIL 2022</td>
<td class="f1-circuit">Imola</td>
<td class="f1-length">4.909 km</td>
<td class="f1-laps">63</td>
<td class="f1-distance">309.267 km</td>
<td class="f1-winner">Verstappen</td>
<td class="f1-report"><a href="https://www.grandprix.com//races/emilio-romagna-gp-2022-race-notes.html">Report</a></td>
</tr>

<tr class="f1-currentracerow">
<td class="f1-round">5.</td>
<td class="f1-event">MIAMI GP</td>
<td class="f1-date">6-8 MAY 2022</td>
<td class="f1-circuit">Miami International Autodrome</td>
<td class="f1-length">5.410 km</td>
<td class="f1-laps">57</td>
<td class="f1-distance">308.370 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">6.</td>
<td class="f1-event">SPANISH GP</td>
<td class="f1-date">20-22 MAY 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-010.html">Barcelona (Circuit de Catalunya)</a></td>
<td class="f1-length">4.655 km</td>
<td class="f1-laps">66</td>
<td class="f1-distance">307.104 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">7.</td>
<td class="f1-event">MONACO GP</td>
<td class="f1-date">27-29 MAY 202s</td>
<td class="f1-circuit"><a href="/gpe/cir-047.html">Monaco</a></td>
<td class="f1-length">3.337 km</td>
<td class="f1-laps">78</td>
<td class="f1-distance">260.286 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">8.</td>
<td class="f1-event">AZERBAIJAN GP</td>
<td class="f1-date">10-12 JUNE 2022</td>
<td class="f1-circuit">Baku City Circuit</td>
<td class="f1-length">6.003 km</td>
<td class="f1-laps">51</td>
<td class="f1-distance">306.049 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">9.</td>
<td class="f1-event">CANADIAN GP</td>
<td class="f1-date">17-19 JUNE 2022</td>
<td class="f1-circuit"><a href="/cir-008.html">Spielberg</a></td>
<td class="f1-length">4.361 km</td>
<td class="f1-laps">70</td>
<td class="f1-distance">305.27 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">10.</td>
<td class="f1-event">BRITISH GP</td>
<td class="f1-date">1-3 JULY 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-068.html">Silverstone</a></td>
<td class="f1-length">5.891 km</td>
<td class="f1-laps">52</td>
<td class="f1-distance">306.198 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">11.</td>
<td class="f1-event">AUSTRIAN GP</td>
<td class="f1-date">8-10 JULY 2022</td>
<td class="f1-circuit"><a href="/cir-008.html">Spielberg</a></td>
<td class="f1-length">4.326 km</td>
<td class="f1-laps">71</td>
<td class="f1-distance">307.020 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">12.</td>
<td class="f1-event">FRENCH GP</td>
<td class="f1-date">22-24 JUNE 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-057.html">Paul Ricard</a></td>
<td class="f1-length">5.861 km</td>
<td class="f1-laps">53</td>
<td class="f1-distance">309.69 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">13.</td>
<td class="f1-event">HUNGARIAN GP</td>
<td class="f1-date">29-31 JULY 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-025.html">Hungaroring</a></td>
<td class="f1-length">4.381 km</td>
<td class="f1-laps">70</td>
<td class="f1-distance">306.630 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">14.</td>
<td class="f1-event">BELGIAN GP</td>
<td class="f1-date">26-28 AUGUST 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-070.html">Spa-Francorchamps</a></td>
<td class="f1-length">7.004 km</td>
<td class="f1-laps">44</td>
<td class="f1-distance">308.052 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">15.</td>
<td class="f1-event">DUTCH GP</td>
<td class="f1-date">2-4 SEPTEMBER 2022</td>
<td class="f1-circuit"><a href="https://www.grandprix.com/circuits/zandvoort.html">Zandvoort</a></td>
<td class="f1-length">4.259 km</td>
<td class="f1-laps">72</td>
<td class="f1-distance">306.648 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">16.</td>
<td class="f1-event">ITALIAN GP</td>
<td class="f1-date">9-11 SEPTEMBER 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-050.html">Monza</a></td>
<td class="f1-length">5.793 km</td>
<td class="f1-laps">53</td>
<td class="f1-distance">306.720 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">17.</td>
<td class="f1-event">SINGAPORE GP</td>
<td class="f1-date">30 SEPTEMBER-2 OCTOBER 2022</td>
<td class="f1-circuit">Marina Bay Street Circuit</td>
<td class="f1-length">5.063 km</td>
<td class="f1-laps">61</td>
<td class="f1-distance">308.706 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">18.</td>
<td class="f1-event">JAPANESE GP</td>
<td class="f1-date">7-9 OCTOBER 2022</td>
<td class="f1-circuit">Suzuka International Racing Course</td>
<td class="f1-length">5.807 km</td>
<td class="f1-laps">53</td>
<td class="f1-distance">307.471 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">19.</td>
<td class="f1-event">UNITED&nbsp;STATES&nbsp;GP</td>
<td class="f1-date">21-23 OCTOBER 2022</td>
<td class="f1-circuit">Austin, Texas</td>
<td class="f1-length">5.513 km</td>
<td class="f1-laps">56</td>
<td class="f1-distance">308.405 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">20.</td>
<td class="f1-event">MEXICAN GP</td>
<td class="f1-date">28-30 OCTOBER 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-043.html">Autodromo Hermanos Rodriguez</a></td>
<td class="f1-length">4.304 km</td>
<td class="f1-laps">71</td>
<td class="f1-distance">305.354 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">21.</td>
<td class="f1-event">BRAZILIAN GP</td>
<td class="f1-date">11-13 NOVEMBER 2022</td>
<td class="f1-circuit"><a href="/gpe/cir-028.html">Interlagos</a></td>
<td class="f1-length">4.309 km</td>
<td class="f1-laps">71</td>
<td class="f1-distance">305.909 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>

<tr>
<td class="f1-round">22.</td>
<td class="f1-event">ABU DHABI GP</td>
<td class="f1-date">18-20 NOVEMBER 2022</td>
<td class="f1-circuit">Yas Marina Circuit</td>
<td class="f1-length">5.554 km</td>
<td class="f1-laps">55</td>
<td class="f1-distance">305.355 km</td>
<td class="f1-winner">&nbsp;</td>
<td class="f1-report">&nbsp;</td>
</tr>




</tr>










</table>