<a href="/races/overview" class="button button-red">Overview</a>
<a href="/races/index" class="button button-red">Races</a>
<a href="/races/standings" class="button button-black">Standings</a>

<p>&nbsp;</p>
<h2>2022 FIA Formula One Final Standings after round 4 (Emilio Romagna GP):</h2>
<br />
<table>
<tr><td>

	<table id="wsw-f12007racestable">
	<tr>
	<td class="f1-title" colspan="100%">Drivers&nbsp;Championship&nbsp;Positions:</td>
	</tr>

	<tr class="f1-header">
	<td>Pos</td>
	<td>Driver</td>
	<td class="f1-race">BAH</td>
	<td class="f1-race">SAU</td>
	<td class="f1-race">AUS</td>
	<td class="f1-race">IMO</td>
	<td class="f1-race">MIA</td>

	<td class="f1-race">SPA</td>
	<td class="f1-race">MON</td>
	<td class="f1-race">AZE</td>
	<td class="f1-race">CAN</td>
	<td class="f1-race">BRI</td>

	<td class="f1-race">AUT</td>
	<td class="f1-race">FRA</td>
	<td class="f1-race">HUN</td>
	<td class="f1-race">BEL</td>
	<td class="f1-race">DUT</td>

	<td class="f1-race">ITA</td>
	<td class="f1-race">SIN</td>
	<td class="f1-race">JAP</td>
	<td class="f1-race">USA</td>
	<td class="f1-race">MEX</td>
	
	<td class="f1-race">BRA</td>
	<td class="f1-race">ABU</td>

	<td class="f1-race">&nbsp;</td>
	</tr>

	<tr>
	<td class="f1-round">1.</td>
	<td class="f1-driver">CHARLES&nbsp;LECLERC,&nbsp;Monaco,&nbsp;Ferrari</td>

	<td class="f1-race">26</td>
	<td class="f1-race">19</td>
	<td class="f1-race">26</td>
	<td class="f1-race">15</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">86</td>
	</tr>

	<tr>
	<td class="f1-round">2.</td>
	<td class="f1-driver">MAX&nbsp;VERSTAPPEN,&nbsp;Netherlands,&nbsp;Red&nbsp;Bull&#8209;RBPT</td>

	<td class="f1-race">0</td>
	<td class="f1-race">25</td>
	<td class="f1-race">0</td>
	<td class="f1-race">34</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">59</td>
	</tr>

	<tr>
	<td class="f1-round">3.</td>
	<td class="f1-driver">SERGIO&nbsp;PEREZ,&nbsp;Mexico,&nbsp;Red&nbsp;Bull&#8209;RBPT</td>

	<td class="f1-race">0</td>
	<td class="f1-race">12</td>
	<td class="f1-race">18</td>
	<td class="f1-race">24</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">54</td>
	</tr>

	<tr>
	<td class="f1-round">4.</td>
	<td class="f1-driver">GEORGE&nbsp;RUSSELL,&nbsp;Britain,&nbsp;Mercedes&nbsp;GP</td>

	<td class="f1-race">12</td>
	<td class="f1-race">10</td>
	<td class="f1-race">15</td>
	<td class="f1-race">12</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">49</td>
	</tr>

	<tr>
	<td class="f1-round">5.</td>
	<td class="f1-driver">CARLOS&nbsp;SAINZ,&nbsp;Spain,&nbsp;Ferrari</td>

	<td class="f1-race">18</td>
	<td class="f1-race">15</td>
	<td class="f1-race">0</td>
	<td class="f1-race">5</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">38</td>
	</tr>

	<tr>
	<td class="f1-round">6.</td>
	<td class="f1-driver">LANDO&nbsp;NORRIS,&nbsp;Britain,&nbsp;McLaren&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">6</td>
	<td class="f1-race">10</td>
	<td class="f1-race">19</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">35</td>
	</tr>

	<tr>
	<td class="f1-round">7.</td>
	<td class="f1-driver">LEWIS&nbsp;HAMILTON,&nbsp;Britain,&nbsp;Mercedes&nbsp;GP</td>

	<td class="f1-race">15</td>
	<td class="f1-race">1</td>
	<td class="f1-race">12</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">28</td>
	</tr>
	<tr>
		
	<td class="f1-round">8.</td>
	<td class="f1-driver">VALTTERI&nbsp;BOTTAS,&nbsp;Finland,&nbsp;Alfa&nbsp;Romeo&#8209;Ferrari</td>

	<td class="f1-race">8</td>
	<td class="f1-race">0</td>
	<td class="f1-race">4</td>
	<td class="f1-race">12</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">24</td>
	</tr>

	<td class="f1-round">9.</td>
	<td class="f1-driver">ESTEBAN&nbsp;OCON,&nbsp;France,&nbsp;Alpine-Renault</td>

	<td class="f1-race">6</td>
	<td class="f1-race">8</td>
	<td class="f1-race">6</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">20</td>
	</tr>

	<tr>
	<td class="f1-round">10.</td>
	<td class="f1-driver">KEVIN&nbsp;MAGNUSSEN,&nbsp;Denmark,&nbsp;Haas&#8209;Ferrari</td>

	<td class="f1-race">10</td>
	<td class="f1-race">2</td>
	<td class="f1-race">0</td>
	<td class="f1-race">3</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">15</td>
	</tr>

	<tr>
	<td class="f1-round">11.</td>
	<td class="f1-driver">DANIEL&nbsp;RICCIARDO,&nbsp;Australia,&nbsp;McLaren&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">8</td>
	<td class="f1-race">3</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">11</td>
	</tr>

	<tr>
	<td class="f1-round">12.</td>
	<td class="f1-driver">YUKI&nbsp;TSUNODA,&nbsp;Japan,&nbsp;AlphaTauri&#8209;RBPT</td>

	<td class="f1-race">4</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">6</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">10</td>
	</tr>

	<tr>
	<td class="f1-round">13.</td>
	<td class="f1-driver">PIERRE&nbsp;GASLY,&nbsp;France,&nbsp;AlphaTauri&#8209;RBPT</td>

	<td class="f1-race">0</td>
	<td class="f1-race">4</td>
	<td class="f1-race">2</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">6</td>
	</tr>

	<tr>
	<td class="f1-round">14.</td>
	<td class="f1-driver">SEBASTIAN&nbsp;VETTEL,&nbsp;Germany,&nbsp;Aston&nbsp;Martin&#8209;Mercedes</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">0</td>
	<td class="f1-race">4</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">4</td>
	</tr>

	<td class="f1-round">15.</td>
	<td class="f1-driver">FERNANO&nbsp;ALONSO,&nbsp;Spain,&nbsp;Alpine-Renault</td>

	<td class="f1-race">2</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">2</td>
	</tr>

	<tr>
	<td class="f1-round">16.</td>
	<td class="f1-driver">ZHOU&nbsp;GUANYU,&nbsp;China,&nbsp;Alfa&nbsp;Romeo&#8209;Ferrari</td>

	<td class="f1-race">1</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">1</td>
	</tr>

	<tr>
	<td class="f1-round">17.</td>
	<td class="f1-driver">ALEXANDER&nbsp;ALBON,&nbsp;Thailand,&nbsp;Williams&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">1</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">1</td>
	</tr>

	<tr>
	<td class="f1-round">18.</td>
	<td class="f1-driver">LANCE&nbsp;STROLL,&nbsp;Canada,&nbsp;Aston&nbsp;Martin&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">1</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">1</td>
	</tr>

	<tr>
	<td class="f1-round">19.</td>
	<td class="f1-driver">MICK&nbsp;SCHUMACHER,&nbsp;Germany,&nbsp;Haas&#8209;Ferrari</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">&nbsp;</td>
	</tr>

	<tr>
	<td class="f1-round">20.</td>
	<td class="f1-driver">NICO&nbsp;HULKENBERG,&nbsp;Germany,&nbsp;Aston&nbsp;Martin&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">&nbsp;</td>
	</tr>

	<tr>
	<td class="f1-round">21.</td>
	<td class="f1-driver">NICOLAS&nbsp;LATIFI,&nbsp;Canada,&nbsp;Williams&#8209;Mercedes</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">&nbsp;</td>
	</tr>





	<tr>
	<td class="f1-title" colspan="100%">Constructors&nbsp;Championship&nbsp;Positions:</td>
	</tr>


	<tr class="f1-header">
	<td>Pos</td>
	<td>Constructor</td>
	<td class="f1-race">BAH</td>
	<td class="f1-race">SAU</td>
	<td class="f1-race">AUS</td>
	<td class="f1-race">IMO</td>
	<td class="f1-race">MIA</td>

	<td class="f1-race">SPA</td>
	<td class="f1-race">MON</td>
	<td class="f1-race">AZE</td>
	<td class="f1-race">CAN</td>
	<td class="f1-race">BRI</td>

	<td class="f1-race">AUT</td>
	<td class="f1-race">FRA</td>
	<td class="f1-race">HUN</td>
	<td class="f1-race">BEL</td>
	<td class="f1-race">DUT</td>

	<td class="f1-race">ITA</td>
	<td class="f1-race">SIN</td>
	<td class="f1-race">JAP</td>
	<td class="f1-race">USA</td>
	<td class="f1-race">MEX</td>
	
	<td class="f1-race">BRA</td>
	<td class="f1-race">ABU</td>

	<td class="f1-race">&nbsp;</td>
	</tr>

	<tr>
	<td class="f1-round">1.</td>
	<td class="f1-driver">FERRARI</td>

	<td class="f1-race">44</td>
	<td class="f1-race">34</td>
	<td class="f1-race">26</td>
	<td class="f1-race">20</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">124</td>
	</tr>

	<tr>
	<td class="f1-round">2.</td>
	<td class="f1-driver">RED&nbsp;BULL&#8209;RBPT</td>

	<td class="f1-race">0</td>
	<td class="f1-race">37</td>
	<td class="f1-race">18</td>
	<td class="f1-race">58</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">113</td>
	</tr>

	<tr>
	<td class="f1-round">3.</td>
	<td class="f1-driver">MERCEDES&nbsp;GP</td>

	<td class="f1-race">27</td>
	<td class="f1-race">11</td>
	<td class="f1-race">27</td>
	<td class="f1-race">12</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">77</td>
	</tr>

	<tr>
	<td class="f1-round">4.</td>
	<td class="f1-driver">MCLAREN&#8209;MERCEDES</td>

	<td class="f1-race">0</td>
	<td class="f1-race">6</td>
	<td class="f1-race">18</td>
	<td class="f1-race">22</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">46</td>
	</tr>

	<tr>
	<td class="f1-round">5.</td>
	<td class="f1-driver">ALFA&nbsp;ROMEO&#8209;FERRARI</td>

	<td class="f1-race">9</td>
	<td class="f1-race">0</td>
	<td class="f1-race">4</td>
	<td class="f1-race">12</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">25</td>
	</tr>

	<tr>
	<td class="f1-round">6.</td>
	<td class="f1-driver">ALPINE-RENAULT</td>

	<td class="f1-race">8</td>
	<td class="f1-race">8</td>
	<td class="f1-race">6</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">22</td>
	</tr>

	<tr>
	<td class="f1-round">7.</td>
	<td class="f1-driver">ALPHATAURI&#8209;RBPT</td>

	<td class="f1-race">4</td>
	<td class="f1-race">4</td>
	<td class="f1-race">2</td>
	<td class="f1-race">6</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">16</td>
	</tr>

	<td class="f1-round">8.</td>
	<td class="f1-driver">HAAS&#8209;FERRARI</td>

	<td class="f1-race">10</td>
	<td class="f1-race">2</td>
	<td class="f1-race">0</td>
	<td class="f1-race">3</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">15</td>
	</tr>

	<tr>
	<td class="f1-round">9.</td>
	<td class="f1-driver">ASTON&nbsp;MARTIN&#8209;MERCEDES</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">5</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">5</td>
	</tr>

	<tr>
	<td class="f1-round">10.</td>
	<td class="f1-driver">WILLIAMS&#8209;MERCEDES</td>

	<td class="f1-race">0</td>
	<td class="f1-race">0</td>
	<td class="f1-race">1</td>
	<td class="f1-race">0</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-race">&nbsp;</td>
	<td class="f1-race">&nbsp;</td>

	<td class="f1-total">1</td>
	</tr>




	</table>
	
	
</td></tr></table>