	<div style="padding-right: 0.5em; text-align:right;" class="home-boxes2">
		
		
		
		
		<div id="columnfour">
			<a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/"><img height="166" width="130" src="http://photos.grandprix.com/jpeg/books/howtobuild.jpg" alt="How to Build a Car: The Autobiography of the World's Greatest Formula 1 Designer" /></a><h2><a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/">How to Build a Car: The Autobiography of the World's Greatest Formula 1 Designer</a></h2>
			<h4>by Adrian Newey (Author) - The world's foremost designer in Formula One, Adrian Newey is arguably one of Britain's greatest engineers and this is his fascinating, powerful memoir. How to Build a Car explores the story of Adrian's unrivalled 35-year career in Formula One through the prism of the cars he has designed.</h4>
			<h4><a href="http://store.grandprix.com/2017/11/01/how-to-build-a-car-the-autobiography-of-the-worlds-greatest-formula-1-designer/"><strong>Shop for it now!</strong></a></h4>
		</div>
	
	
	
	
	

	
	
	
	
	
	
	
	
</div>
