<p><%= link_to "Create categories", {:action=>"do_categories", :controller=>"import"} %></p>
<p><%= link_to "race_info", {:action=>"race_info", :controller=>"import"} %></p>


<p><%= link_to "Import gpCMSdb into gpv7 database", {:action=>"convert", :controller=>"import"} %></p>
<p><%= link_to "Import bad records", {:action=>"convert_bad", :controller=>"import"} %></p>
