<nav>
    
	<ul class="clear">
		<li<% if @site_section_number == 1 %> class="selected"<% end %>><a href="/">Home</a></li>
		<li<% if @site_section_number == 2 %> class="selected"<% end %>><a href="/news/">News</a></li>
		<li<% if @site_section_number == 3 %> class="selected"<% end %>><a href="/features/">Features</a></li>
		<li<% if @site_section_number == 4 %> class="selected"<% end %>><a href="/races/">F1 2022</a></li>
		<li<% if @site_section_number == 8 %> class="selected"<% end %>><a href="/encyclopedia/">Encyclopedia</a></li>
		<li<% if @site_section_number == 9 %> class="selected"<% end %>><a href="http://store.grandprix.com">Store</a></li            	    ></ul>
	 </nav>
